@import url('https://fonts.googleapis.com/css?family=Roboto');


.section-page{
    background-color: #f4f6f5;
}


.form-search {
    margin-top: 50px;
    width: 46%;
    height: 56px;
    box-shadow: 0 1px 10px rgba(124, 178, 64, 0.75);
    background-color: #ffffff;
    padding: 0 20px;
    color: #90a4ae;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
    
}
.navigation-site {
    margin-left: 8%;
    display: flex;
    margin-bottom: 40px;
}

.navigation-site a {
    text-decoration: none;
    margin-right: 15px;
    color: #263238;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 40px;
    color: #b0bec5;
}

.navigation-site a:focus {
    color: #263238;
}

.contant-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: auto 10%;
}

/*side bar style*/

.side-bar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 20%;
}

.side-bar-section {
    border: 1px solid #d7d7d7;
    background-color: #ffffff;
    padding: 26px 31px 41px;
    width: 100%;
    margin-bottom: 30px;
}

.side-bar-title {
    color: #263238;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 60px;
}

.categories-list {
    color: #263238;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 40px;
    margin: 28px auto 0;
}

.categories-list-point::before {
    content: "> ";
    color: #8bc34a;
    font-size: 18px;
    font-weight: bolder;
    line-break: auto;
    letter-spacing: 4px;
}

.prise-position {
    margin: 41px auto 25px;
    width: 99%;
}

.green-button {
    display: block;
    border: none;
    padding: 5px 58px;
    background-color: #8bc34a;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 40px;
    margin: auto;
}

.fas {
    margin: 0 5px 0 0;
}

.side-bar-collum {
    flex-direction: column;
}

.side-bar-card {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/*side bar style*/

/*all items style*/

.all-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 75%;
}

.sort-by {
    width: 100%;
    height: 60px;
    border: 1px solid #d7d7d7;
    background-color: #ffffff;
    margin-bottom: 30px;
}

.all-items-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
}

.all-items-card {
    box-shadow: 0 16px 20px rgba(216, 216, 216, 0.75);
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}

.all-items-card-img {
    width: 100%;
}

.all-items-about {
    width: 90%;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

.all-items-name {
    color: #263238;
    font-size: 16px;
    font-weight: 500;
    line-height: 60px;
    text-transform: none;
    text-decoration: none;
}

.all-items-description {
    color: #8bc34a;
    font-size: 14px;
    font-weight: 500;
    line-height: 60px;
    margin: -26px auto -15px;
}

.all-items-price {
    color: #263238;
    font-size: 20px;
    font-weight: 700;
    line-height: 60px;
    position: absolute;
    right: 1%;
    top: 25%;
}

.all-items-line {
    height: 1px;
    background-color: #d4d4d4;
    width: 90%;
}

.all-items-made-by {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.all-items-avatar-name {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #546e7a;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 60px;
}

.all-items-avatar{
    width: 25px;
    height: 25px;
    margin-right: 13px;
}

.all-items-stars {
    height: 11px;
}

.items-btn-container {
    display: flex;
    justify-content: flex-start;
}

.items-btn {
    background-color: #ffffff;
    color: #263238;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 42px;
    border: none;
    margin: 3px;
    padding: 1px 27px;
}

.items-btn:focus {
    background-color: #e74c3c;
    color:white;
}

/* .location-arrow {
    text-align: center !important;
    padding: 10px !important;
    width: 25px !important;
    height: 17px !important;
    color: #ffffff ;
    background-color: #8bc34a; 
    margin: 6% 0px 0 0 !important;
    border: 1px solid #000000;
}
 */
/*all ite




@media screen and (max-width: 960px) {
    .contant-container {
        margin: auto 7%;
    }

    .side-bar-section {
        padding: 10px 25px 30px;
    }

    .green-button {
        padding: 0px 35px;
    }

    .all-items-name {
        line-height: 35px;
    }

    .all-items-avatar {
        display: none;
    }

    .items-btn {
        font-size: 12px;
        line-height: 28px;
        padding: 1px 20px;
    }
}

@media screen and (max-width: 600px) {

    .side-bar {
        display: none;
    }

    .sort-by {
        height: 40px;
        margin-bottom: 15px;
    }
    
    .all-items {
        align-items: center;
        width: 100%;
    }

    .all-items-made-by {
        flex-direction: column;
    }

    .all-items-avatar-name {
        line-height: 31px;
    }

    .all-items-stars {
        margin-bottom: 5px;
    }

    .all-items-price {
        font-size: 13px;
        line-height: 30px;
        top: 65%;
    }

    .all-items-description {
        font-size: 12px;
        line-height: 55px;
    }
}