@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Roboto');

.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 560px;
    background-color: #263238;
}

.footer-conteiner {
    widows: 100%;
    display: flex;
    margin: 8% 5% 5% 5%;
}

.footer-content {
    display: flex;
    flex-direction: column;
    margin: 0 2% 0 4%;
    width: 19%;
    height: max-content;
}


.footer-content>p {
    color: #b7c3c8;
    font-family: "Roboto";
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}

.footer-contacts>span {
    display: block;
    color: #ffffff;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin: 10% 0 0 0;
}

.footer-contacts>i {
    color: #8bc34a;
    margin: 10% 3% 2% 1%;
}

.footer-contacts {
    display: flex;
    justify-content: flex-start;
}

/* .footer-contact-service::before {
    content: ">";
    color: #8bc34a;
    font-size: 18px;
    font-weight: bolder;
    line-break: auto;
    letter-spacing: 4px;
} */

.footer-icon {
    color: #8bc34a;
    margin-right: 6%;

}

.footer-content>h4 {
    color: #ffffff;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 2px
}

.footer-line {
    width: 51px;
    height: 3px;
    background-color: #8bc34a;
    margin-top: 10%;
    margin-bottom: 15%;
}

.footer-contact-service {
    color: #b7c3c8 !important;
    font-family: "Roboto";
    font-size: 15px;
    font-weight: 400;
    line-height: 36px;
    text-decoration: none !important;

}

.footer-content-a {
    text-decoration: none;
}

.footer-soc-icons-item {
    display: flex;
    justify-content: flex-start;
}

.footer-soc-icons {
    margin-right: 4%;
}

.footer-location-icon  {
    text-align: center;
    padding: 10px;
    width: 38px;
    height: 35px;
    color: #ffffff;
    background-color: #8bc34a;
    margin: 6% 0px 0 0;
    border: 1px solid #000000;
}

.footer-input-email {
    display: flex;
}

.footer-input-email>input { 
    width: 260px;
    height: 35px;
    border: 1px solid #000000;
    background-color: #2f3c43;
    margin-top: 6%;
    padding-left: 5px;
}

.footer-grey-line {
    width: 100%;
    height: 1px;
    background-color: gray;
}

.footer-foxstar {
    text-align: center;
    color: #919699;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    line-height: 36px;
    margin: 1% 0 1% 0;
}


.phone-icon {
    transform: rotate(-266deg)
}




@media screen and (max-width: 960px) {
   

    .footer {
        height: auto;
        
    }

    .footer-content {
        width: 40%;
        margin-top: 2%;
    }

    .footer-conteiner {
        display: flex;
        flex-wrap: wrap;

    }



}

@media screen and (max-width: 600px) {
  
    .footer-conteiner {
        flex-direction: column;
    }

    .footer-content {
        margin: 5%;
        align-self: center;
        width: 45%;
    }

    .footer-line {
        width: 100%
    }

    .footer-content>h4 {
        text-align: center;
    }

    .footer-content>a {
        text-align: center;
    }

    .footer-soc-icons-item {
        align-self: center;
    }

    .footer-content>p,
    .footer-contacts>span {
        text-align: center;
    }

}