@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Roboto');

.mike-hussy {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0 0 0 0;
    padding: 10px 0px 15px 15px;
}

.mike-hussy-item>h4 {
    color: #222222;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 500;

}

.mike-hussy-item>span {
    color: #8bc34a;
    font-family: "Roboto";
    font-size: 14px;


}


.header-white-circle {
    background: #a0a0a0;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4px;

}

.drop-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 158px;
    height: 317px;
    box-shadow: 0 16px 20px rgba(216, 216, 216, 0.75);
    border: 1px solid #cccccc;
    background-color: #ffffff;

}

.drop-1>div>a {
    text-decoration: none;
    color: #546e7a;
    font-family: "Roboto";
    font-size: 12px;
    font-weight: 400;
    line-height: 36px;
    margin-left: 2%;
}

/* .drop-1>a::before {
    content: " > ";
    width: 5px; 
    color: #8bc34a;
    font-family: "Roboto";
    font-size: 14px;
    padding-left: 1%;
}
 */


.drop {
    position: absolute;
    display: none;
    transition: opacity 0.5s;
}

.drop-icon {
    padding: 0 5px 0 15px;
}

.mike-hussy:hover .drop {
    display: block;
    opacity: 1;

}

.mike-hussy-item {
    margin: 7px 8px 0 4px;
}
