@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Roboto');

/*REGISTR*/
.header-check_in {
    margin: 0 10%;
    display: flex;
    justify-content: space-between;
}

.logo {
    padding: 26px 0;
}

.header-red-text {

    color: #e74c3c;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}

.header-number {
    color: #546e7a;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}

.header-bascet-list {
    display: none;
    position: absolute;
    right: 11%;
    top: 30px;
    background-color: #FFFFFF;
}


.header-contacts {
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-green-button {
    width: 72px;
    height: 32px;
    background-color: #8bc34a;
    border-radius: 4px;
    border: none;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
}


.header-red-button {
    width: 72px;
    height: 32px;
    background-color: #e74c3c;
    border: none;
    color: #ffffff;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    border-radius: 4px;
    margin-left: 7px;
}

.header-conteiner-icon {
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    background-color: #f5f5f5;
    border-radius: 17px;
    margin: 0 15px;
    position: relative;

}

.header-conteiner-icon>a {
    text-transform: none;
    color: #a0a0a0;
    display: block;
}

.header-conteiner-icon>i {
    text-align: center;
    font-size: 14px;
    color: #a0a0a0;
}

.header-conteiner-icon::after {
    content: "8";
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: #e74c3c;
    border-radius: 9px;
    text-align: center;
    right: -5px;
    top: -7px;
    color: white;
    font-family: "Open Sans - Semibold";
    font-size: 11px;
    padding-top: 2px;
    font-weight: 400;
    line-height: 18px;
}

.header-navigations {
    display: flex;
    flex-direction: row;
    margin: 0 10%;
    position: relative;
}

.header-navigations-conteiner {
    background-color: #263238;
    
}

.burger-menu  {
    display: none !important;
    
    
}
.header-navigations>li {
    list-style: none;
    padding: 30px 30px 30px 0;
}

.header-navigations>li>a {
    text-transform: none;
    text-decoration: none;
    color: #ffffff;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 500;
    line-height: 30px;
}

.main-page-conteiner {
    background-image: url(../img/bacground.png);
}

.main-page-content {
    background-image: url(../img/Layer_219.png);

    height: 532px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-page-content>h1 {
    color: #ffffff;
    font-family: Roboto;
    font-size: 48px;
    font-weight: 700;
    line-height: 30px;
}

.main-page-content>h3 {
    color: #ffffff;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    margin-top: 34px;
}

.form-control-main-page {
    margin-top: 50px;
    width: 46%;
    height: 56px;
    box-shadow: 0 1px 10px rgba(124, 178, 64, 0.75);
    background-color: #ffffff;
    padding: 0 20px;
    color: #90a4ae;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;

}

/*end section main page*/

/*style product*/
.product-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f4f6f5;
}

.product-title {
    color: #263238;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 60px;
    margin: 121px auto 73px;
}

.product-btn-container{
    display: flex;
    justify-content: center;
    margin: auto auto 45px;

}

.product-btn {
    background-color: #ffffff;
    color: #263238;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 42px;
    border: none;
    margin: 3px;
    padding: 1px 27px;
}

.product-btn:focus {
    background-color: #e74c3c;
    color:white;
}

.product-card-container {
    display: flex;
    justify-content: center;
    margin: 32px auto;
}

.product-card {
    width: 20%;
    box-shadow: 0 1px 2px rgba(205, 214, 222, 0.75);
    background-color: #ffffff;
    margin: auto 15px;
}

.product-card-img{
    height: 250px;  
    width: 100%;
}

.product-about {
    margin: 0 30px;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

.product-name {
    color: #263238;
    font-size: 18px;
    font-weight: 500;
    line-height: 60px;
}

.product-description {
    color: #8bc34a;
    font-size: 14px;
    font-weight: 500;
    line-height: 60px;
    margin: -26px 0 -15px;

}

.product-price {
    color: #263238;
    font-size: 20px;
    font-weight: 700;
    line-height: 60px;
    position: absolute;
    right: 1%;
    top: 25%;
}

.product-line {
    height: 1px;
    background-color: #d4d4d4;
}

.product-made-by {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 30px;
}

.product-avatar {
    height: 30px;
    margin-right: 13px;
    margin-top: 13%;
}

.product-avatar-name {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #546e7a;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 60px;
}

.product-stars {
    height: 12px;
}

/*style product*/

/*style week trending product*/

.week-product-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carusel-position {
    margin: auto 0 121px;
}

.carousel-indicators-custom-style {
    bottom: -50px;
}

/*style week trending product*/

/*choose section*/

.choose {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 616px;
    background-color: #263238;
    
}

.choose-title-item {
    display: flex;
    align-items: center;
}

.choose-circle {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    padding: 0 1% 0 1%;
}

.choose-circle-radius {
   width: 30%;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 0 6%;
}

.choose-white-circle {
    background: #ffffffc2;
    width: 113px;
    height: 113px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10%;
    
    
}

.choose-title {
    text-align: center;
    width: 623px;
    height: 34px;
    color: #ffffff;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 5%;
    margin-top: 7%; 
}

.choose-circle-radius > h3 {
    color: #ffffff;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    line-height: 60px;
}

.choose-circle-radius>h3:hover {
    color: #8bc34a;
}

.choose-circle-radius > p {
    width: 318px;
    color: #b0bec5;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

/*choose section*/

/*style author*/

.author {
    height: 705px;
    background-color: #f4f6f5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.author-picture {
    position: relative;
    margin-top: 100px;
}

.author-text {
    position: absolute;
    width: 653px;
    height: 216px;
    background-color: #8bc34a;
    top: 25%;
    left: 21%;
}

.title-author  {
    width: 260px;
    height: 59px;
    float: left;
    color: #ffffff;
    font-size: 30px;
    line-height: 36px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-top: 68px;
    margin-left: 50px;
}

.author-button {
    font-family: 'Roboto', sans-serif;
    color: #263238;
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
    float: right;
    margin-right: 50px;
    margin-top: 75px;
    width: 225px;
    height: 63px;
    background-color: #ffffff;
}
/*style author*/

/*style tutorials*/

.tutorials{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tutorials-title {
    padding-top: 100px;
    padding-bottom: 50px;
    color: #263238;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 700;
    line-height: 60px;
}

.tutorials-card {
    display: flex;
    margin-left: 100px;
    text-align: center;
}

.tutorials-picture3 {
    margin-right: 10px;
}

.tutorials-text {
    color: #263238;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 60px;
    text-align: center;
    width: 370px;
    height: 80px;
    background-color: #f8f8f8;
}

.tutorials-picture1 {
    margin-right: 20px;
}

.tutorials-picture2 {
    margin-right: 20px;
}

.collapse-container {
    margin: 70px auto 25px;
}

.col {
    margin-bottom: 25px;
}

.row {
    margin: 0px;
}


@media screen and (max-width: 1180px) {


    .choose-circle {
        flex-wrap: wrap;
        height: max-content ;
        margin: 1%;

    }

    .choose {
        height: max-content;

    }
}

@media screen and (max-width: 960px) {

    .product-title {

        font-size: 27px;
        margin: 15px;
    }
    
    .product-btn {
        font-size: 12px;
        line-height: 30px;
        margin: 3px;
        padding: 0px 20px;
    }
    
    .product-card-container {
        flex-wrap: wrap;
        margin: 15px auto;
    
    }
    
    .product-card {
        width: 48%; 
        margin: inherit;
    }
    
    .product-about {
        margin: 0 10px;
        display: flex;
        flex-direction: column;
    }
    
    .product-name {
        font-size: 15px;
        line-height: 35px;
    }
    
    .product-price {
        margin-top: auto;
        font-size: 15px;
        line-height: 10px;
    }
    
    .product-made-by {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0px 15px 2px;
    }
    
    .product-avatar-name{
        line-height: 40px;
    }

    .collapse-container {
        display: none;
    }

    /* .footer {
        height: auto;
    } */

    .choose-circle {
        flex-wrap: wrap;
        height: max-content;
         margin: 1%;
        
    }

    .choose {
        height: max-content;
    }

    .choose-circle-radius>p {
        width: 80%;
    }

    .choose-payment {
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }


}
   

@media screen and (max-width: 600px) {

    .main-page-content> h1 {
        text-align: center;
        font-size: 32px;
        height: auto;
    }

    .header-check_in {
        margin:0 5%;
    }
    .body-card-ballet {
        margin-top: 10%;
        flex-wrap: wrap;
    }

    .body-card-ballet-item {
        width: 100%;
    }

    .header-red-text,.header-number {
        display: none;
    }
    .header-navigations {
        display: none !important;
        height: 100%;
    }

    .header-navigations {
        
        display: flex;
        flex-wrap: wrap;
        position: relative;
    }
    
    .burger-menu {
        display: inline-block !important;
        position: absolute;
        top: 18%;
        left: 10%;
        color: white;
        font-size: 20px;
    }
    
    .header-navigations>li {
       padding: 14px 32px 10px 0;
    }

    .collapse-container {
        display: none;
    }

    .main-page-content>h3 {
        text-align: center;
        margin: 0 10%;
        font-size: 20px;
    }
/* 
    .footer-conteiner {
        flex-direction: column;
    }

    .footer-content {
        margin: 5%;
        align-self: center;
        width: 45%;
    }

    .footer-line {
        width: 100%
    }

    .footer-content>h4 {
        text-align: center;
    }

    .footer-content>a {
        text-align: center;
    }

    .footer-soc-icons-item {
        align-self: center;
    }

    .footer-content>p,
    .footer-contacts>span {
        text-align: center;
    }
 */
    .choose-circle {
        flex-direction: column;
        height: max-content;
        align-items: center;
        margin-top: 10%;
    }

    .choose-white-circle {
        margin-top: 8%;
        margin-bottom: 1%; 
    }

    .choose {
        height: max-content;
    }

    .choose-title {
        width: 100%;
        margin: 5% 5% 15% 5%  ;
    }

    .first-circle {
        margin-bottom: 2%;
    }

   

    .tutorials {
        width: 100%;
    }
    .tutorials-title {
        text-align: center;
        font-size: 25px;
        padding: 2% 0;
    }
    .tutorials-card {
        margin-left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .choose-circle-radius {
        width: 100%;
    }

    .author {
        height: auto;
    }
    .author-picture {
        width: 80%
    }
    .grey {
        max-width: 100%;
    }

    .product-title {
        text-align: center;
    }
    .author-text {
        max-width: 70%;
        height: auto;
        position: absolute;
        left: 15%;
        top: 10%;
    }

    .title-author {
        font-size: 20px;
        text-align: center;
        margin-top: 3%;
        margin-left: 10%;
    }
    .author-button {
        margin-left: 27%;
        float: none;
        margin-top: 0;
        margin-bottom: 3%;
        width: 50%;
        height: 20%;
        font-size: 15px;
    }
    .choose {
        margin-top: -15%;
    }
}

