@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Roboto');



hr {
    color: #dde3e8;
}

/*style main page*/
/*START DO HEADER SECTION*/

.header-check_in {
    margin: 0 10%;
    display: flex;
    justify-content: space-between;

}

.main-page-conteiner {
    background-image: url(../img/background_prodeuct_details.png);
    height: 289px;
}

.main-page-content {
    background-image: url(../img/backgroun_prod_det.png);
    height: 289px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-page-content>h1 {
    color: #ffffff;
    font-family: Roboto;
    font-size: 48px;
    font-weight: 700;
    line-height: 30px;
}

.main-page-content>h3 {
    color: #ffffff;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    margin-top: 34px;
}

.form-search {
    margin-top: 50px;
    width: 46%;
    height: 56px;
    box-shadow: 0 1px 10px rgba(124, 178, 64, 0.75);
    background-color: #ffffff;
    padding: 0 20px;
    color: #90a4ae;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;

}






/* .mike-hussy-item>h4 {
    color: #222222;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 500;
    padding: 0 0 0 0 !important;

}

.mike-hussy-item>span {
    color: #8bc34a;
    font-family: "Roboto";
    font-size: 14px;
    padding: 0 0 0 0 !important;


} */


.dropdown {
    border-radius: 17px;
}

.show>.btn-secondary.dropdown-toggle {
    color: #fff;


    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    background-color: #f5f5f5;
    border-radius: 17px;
    margin: 0 15px;
    position: relative;
}


/*start section product details*/
.product-details {
    margin: 0 0%;
}

.product-details-bacground {
    background-color: #f4f6f5;

}

.navigation-between-site {
    padding: 30px 0px;
    display: flex;
}

.navigation-between-site>li>a {
    text-transform: none;
    text-decoration: none;
    color: #263238;
    font-family: Roboto;
    font-size: 15px;
    margin-right: 6px;
}

.product-page-conteiner {
    display: flex;
    margin: 0 10%;
}

.conteiner-foto-product {
    max-width: 100%;
    border: 1px solid #d7d7d7;
}

.title {
    margin-top: 35px;
    color: #263238;
    font-family: Roboto;
    font-size: 30px;
}

.product-page-info {
    width: 72%;
    margin-right: 3%;
}

.product-page-info>p {
    margin-top: 26px;
    color: #707070;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    max-width: 95%;
}

.coneiner-for-btn {
    margin-top: 45px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}

.conteiner-for-function {
    display: flex;
    justify-content: space-between;
    width: 63%;

}

.conteiner-for-function>div>a {
    display: block;
    text-transform: none;
    text-decoration: none;
    color: #f4f6f5;
    margin-top: 16px;
}

.Preview {
    background-color: #e74c3c;

    font-family: Roboto;
    font-size: 16px;
    height: 50px;
    padding: 0 25px;
}

.screen {
    background-color: #455a64;
    color: #f4f6f5;
    font-family: Roboto;
    font-size: 16px;
    height: 50px;
    padding: 0 25px;
}

.document {
    background-color: #8bc34a;
    color: #f4f6f5;
    font-family: Roboto;
    font-size: 16px;
    height: 50px;
    padding: 0 25px;
}

/*start sidebar section*/
.sidebar {
    width: 25%;
    display: flex;
    flex-direction: column;

}

.conteiner-product-price {
    background-color: white;
    border: 1px solid #d7d7d7;
    padding: 25px;
    margin-bottom: 30px;
}

.price {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;

}

.conteiner-product-price>h3 {
    color: #263238;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}

.price>h4 {
    color: #e74c3c;
    font-family: Roboto;
    font-size: 22px;
    font-weight: 500;
    line-height: 33px;
}

.select-choice {
    margin-top: 2px;
    width: 82px;
    height: 27px;
    border: 1px solid #cccccc;
    color: #70838d;
    font-family: Roboto;
    font-size: 13px;
}

.cart-btn {
    margin-top: 27px;
    box-shadow: 0 1px 2px rgba(69, 90, 100, 0.75);
    background-color: #8bc34a;
    text-align: center;
    padding: 8px 0;
}

.white-cart {
    margin-right: 8px;
}

.cart-btn-add {
    display: block;
    text-transform: none;
    text-decoration: none;
    color: #ffffff;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
}

.favorites-btn {
    text-align: center;
    padding: 8px 0;
    margin-top: 8px;
    box-shadow: 0 1px 2px rgba(69, 90, 100, 0.75);
    background-color: #42a5f5;
}

.favourites-link {
    color: #ffffff;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
}

.buy-btn {
    box-shadow: 0 1px 2px rgba(69, 90, 100, 0.75);
    background-color: #546e7a;
    padding: 8px 0;
    text-align: center;
    margin-top: 8px;
}

.buy-link {
    color: #ffffff;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
}

.logo-profile {
    width: 73px;
    height: 63px;
    background-color: #A69F9F;
}

.logo-profile-btn {
    margin-top: 15px;
    text-align: center;
    width: 92px;
    height: 28px;
    border: 1px solid #cccccc;
    background-color: #ffffff;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 400;
    line-height: 30px;
}

.logo-profile-btn>a {
    text-decoration: none;
    text-transform: none;
    color: #707070;
}

.logo-info {
    margin-left: 10px
}

.logo-info>h4 {
    color: #263238;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
}

.logo-card {
    margin-top: 12%;
    display: block;
    display: flex;
    justify-content: space-between;
}

.shopping-cart-quantity {
    border: 1px solid #cccccc;
    background-color: white;
    padding: 24px 25px;
}

.shopping-cart-quantity>i {
    font-size: 20px;
    color: #a6b5bb;
    margin-right: 15px;
}

.sales-color {
    color: #707070;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 300;
    margin-right: 10px;
}

.icon-sales {
    color: #263238;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
}

/*body*/

.body-conteiner {
    width: 100%;
    height: 840px;
    background-color: #f4f6f5;
}

.body-main-info {
    width: 72%;
    height: 325px;
    margin-top: 2%;
}

.body-panel {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-self: center;
    background-color: #ffffff;
}

.panel-hover:hover {
    border-bottom: 3px;
    border-color: #8bc34a;
}

.body-main-items {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 15% 0 10%;
}

.body-panel>div {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #d7d7d7;
}

.body-panel>div>a {
    color: #70838d;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    line-height: 60px;
    text-decoration: none;
}

.body-main-list {
    display: flex;
    justify-content: flex-start;
    border: 1px solid #d7d7d7;
    background-color: #ffffff;

}

.body-main-list>div> {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.body-main-list>div> div> a {
    color: #707070;
    font-family: "Roboto";
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
   
}

.body-second-list {
    margin:  0 0 0 4%;
}

.support-main-list {
    color: #8bc34a;
    margin: 15px 15px 25px 10px;

}



.body-side-info {
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 25%;
    height: 361px;
    border: 1px solid #d7d7d7;
    background-color: #ffffff;

}

.body-side-info>span {
    color: #263238;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 500;

    padding-left: 9%;
}

.body-side-info>h4 {
    color: #263238;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    padding-left: 9%;

}

.body-more-products {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 2% 10%;
    height: 60px;
    border: 1px solid #d7d7d7;
    background-color: #ffffff;
}

.body-ballet-price {
    background-color: white;
    display: flex;
    background-color: ffffff;
    justify-content: space-between;
    flex-direction: column;
    align-self: unsafe;
    padding: 10px;
    border: 1px solid #d7d7d7;
}

.body-main-list>div>a::before {
    content: "> ";
    color: #8bc34a;
    font-size: 18px;
    font-weight: bolder;
    line-break: auto;
    letter-spacing: 4px;
}

.body-more-products {
    width: 57.5%;
}

.body-more-products>h4 {
    color: #263238;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    padding-left: 2%;
}

.body-card-ballet {
    display: flex;
    flex-wrap: wrap;
    width: 61%;
    margin: 2% 30% 2% 9%;
}

.body-card-ballet-item {
    display: flex;
    width: 29%;
    margin: 16px;
}

.body-gray-rectangle {
    width: 100px;
    height: auto;
    background: #b7c3c8;
}

.body-ballet-price>h4 {
    color: #263238;
    font-family: Roboto;
    font-size: 12px;
}

.body-ballet-price>p {
    font-family: "Roboto";
    font-size: 12px;
    font-weight: 400;
    color: #8bc34a;
}

.body-ballet-price>span {
    color: #263238;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
}



/*media */
@media screen and (max-width: 1280px) {
    .body-conteiner {
        width: 100%;
        height: max-content;
        flex-wrap: wrap;
    } 
    
    .body-card-ballet {
        display: flex;
        flex-wrap: wrap;
        width: 80%;
       /*  margin: 2% 30% 2% 9%; */
    }

}


@media screen and (max-width: 960px) {
    .body-conteiner {
        height: auto;
    }

    .coneiner-for-btn {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .conteiner-for-function {
        width: 100%;
    }

    .logo-card {
        display: none;
    }

    .conteiner-for-icon {
        display: none;
    }

    .body-main-info {
        margin-top: -15%;
    }

    .body-more-products {
        margin-top: 0;
    }

    .body-card-ballet {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 10%;
    }

    .body-card-ballet-item {
        margin: 12px;
        width: 45%;
    }

    .footer {
        height: auto;
    }

}

@media screen and (max-width: 600px) {
    .header-check_in {
        margin: 0;
    }

    .body-card-ballet {
        margin-top: 10%;
        flex-wrap: wrap;
    }

    .body-card-ballet-item {
        width: 100%;
    }

    /*.header-red-text,.header-number {
        display: none;
    }

    .header-navigations {
        display: flex;
        flex-wrap: wrap;
    }

    .header-navigations>li {
       padding: 14px 32px 10px 0;
    }

    .main-page-content {
        
    }*/

    .main-page-content>h3 {
        text-align: center;
        margin: 0 10%;
    }

    .sidebar {
        display: none;
    }

    .product-page-conteiner {
        margin: 0;
        justify-content: center;
    }

    .body-side-info {
        display: none;
        height: auto;
    }

    .body-conteiner {
        height: auto;
    }

    .body-main-info {
        margin-top: 4%;
        width: 100%;
    }

    .body-more-products {
        margin-top: 9%;
        width: 80%;
    }

    .body-card-ballet {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 0%;
        margin-bottom: 0%;
        padding-bottom: 3%;
    }

    .body-card-ballet-item {
        margin: 34px 0 0 0;
        width: 45%;
    }

    .body-card-ballet-item {
        width: 45%;
    }

    .body-main-list>div {
        width: 50%;
    }

   

}