@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Roboto');

.mike-hussy-item >h4 {
    color: #222222;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    font-weight:bold;
    margin-bottom: 0;
}
.mike-hussy-item >span {
    color: #8bc34a;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    font-weight:bold;
}


/*upload product*/

.uploadProduct {
    height: 1550px;
    background-color: #f4f6f5;
    width: 100%;
}

.navigation-site-upload {
    display: flex;
    margin-left: 230px;
    padding-top: 50px;
}

.navigation-site-upload a {
    text-decoration: none;
    margin-right: 15px;
    color: #263238;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 40px;
    color: #b0bec5;
}

.navigation-site-upload a:focus {
    color: #263238;
}

.uploadItem {
    width: 900px;
    height: 1280px;
    margin-top: 50px;
    margin-left: 230px;
    border: 1px solid #d7d7d7;
    background-color: #ffffff;
    display: block;
}

.titleItem {
    width: 350px;
    height: 23px;
    color: #263238;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 50px;
    font-size: 23px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 25px;
    margin-top: 20px;
    font-weight: bold;
}

.titleItemPrice {
    float: left;
    margin-left: -95px;
    width: 350px;
    height: 23px;
    color: #263238;
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    font-weight: 500;
    line-height: 60px;
    margin-top: 25px;
    font-weight: bold;
    padding-bottom: 40px; 
}
* {
    color: #707070;
    font-family: "Myriad Pro";
}

.choose-btn {
    position: absolute;
    width: 82px;
    height: 25px;
    border: 1px solid #d7d7d7;
    background-color: #ffffff;
    color: #444444;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 36px;
    margin-left: 30px;
}

.choose-btn-screen {
    position: absolute;
    width: 82px;
    height: 25px;
    border: 1px solid #d7d7d7;
    background-color: #ffffff;
    color: #444444;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 36px;
    margin-left: 30px;
}

.select-upload {
    padding-right: 20px;
    clear: both;
    text-align: right;
}

.select-text {
    float: left;
    color: #444444;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    line-height: 60px;
    margin-top: 15px;
    padding-right: 20px;
    margin-left: 25px;
}


.btn-outline-secondary {
    height: 30px;

}

.form-control-upload {
    float: right;
    width: 680px;
    height: 32px;
    border: 1px solid #d7d7d7;
    background-color: #f9f9f9;
    padding: 0 20px;
    margin-top: 33px;
    margin-bottom: 11px;
}


.form-control-upload-description {
    width: 680px;
    height: 130px;
    border: 1px solid #d7d7d7;
    background-color: #f9f9f9;
    padding: 0 20px;
    display: flex;
    float: right;
    margin-top: 32px;
    margin-bottom: 11px;

}

.submit-btn {
    width: 124px;
    height: 46px;
    background-color: #8bc34a;
    color: #ffffff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    margin-top: 30px;
    margin-left: 30px;
}


@media screen and (max-width: 960px) {
    .navigation-site-upload {
        margin-left: 20px;

    }
    .uploadProduct {
        width: 100%;
    }

    .uploadItem {
        width: 100%;
        margin: 0;
    }
    .form-control-upload {
        width: 70%;
    }
    .form-control-upload-description{
        width: 70%;
    }
    .submit-btn {
        margin-left: 100px;
    }
}

@media screen and (max-width: 600px) {
    .logo {
        display: none;
    }
    .navigation-site-upload {
        margin-left: 22px;

    }

    .uploadProduct {
        width: 100%;
    }

    .uploadItem {
        width: 100%;
        margin-left: 0;
    }

    .form-control-upload {
        width: 55%;

    }
    .form-control-upload-description {
        width: 55%;
    }

    .titleItemPrice {
        margin-left: 20px;
    }

    .submit-btn {
        margin-left: 20px;
    }
}
/*upload product*/